<!DOCTYPE html>
<html lang="pl" data-layout-decorator="layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Helpdesk w65154 - Tworzenie artykułu</title>
</head>
<body>
<div data-layout-fragment="main-panel">
    <div class="content">
        <div class="card">
            <div class="card-header p-b-0">
                <h5 class="card-title">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Dodaj nowy artykuł
                </h5>
            </div>
            <div class="card-block">
                <form th:action="@{/article/create}" method="post" data-th-object="${formData}">

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{title}" id="title" name="title" placeholder="Tytuł artykułu" required="true"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="20" th:field="*{content}" id="content" name="content" placeholder="Opis" required="true"></textarea>
                    </div>
                    <hr/>
                    <button type="submit" class="btn btn-primary">Prześlij artykuł</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>