<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>HelpDesk.com - About</title>
</head>
<body>
<div data-layout-fragment="main-panel">
    <!-- Alert -->

    <div class="content">
        <h1>Welcome to our HelpDesk!</h1>
        <p>It's being run by the $hitty Admins. The site came online in 2018 and is your go-to-place for all your
            inquires about our products.</p>
        <div class="card">
            <div class="card-header p-b-0">
                <h5 class="card-title"><i class="" aria-hidden="true"></i>Contact Information</h5>
            </div>
            <div class="card-block">
                <p class="card-text">
                    You can mail us at: shitty.admins@helpdesk.com<br/>
                    Or call us directly: <b>TECH-SPRT-1</b> (832-477-781)<br/>
                </p>
                <a class="btn btn-lg btn-fill btn-success" href="mailto:shitty.admins@helpdesk.com"><i
                        class="fa fa-envelope-square"></i> Mail us!
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>